body
{
background-color: #8FBC9F;
font-family: 宋体;

}

a:link {color:#000000;}      /* 未访问链接*/
a:visited {color:#0000AA;}  /* 已访问链接 */
a:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
a:active {color:#0000FF;}  /* 鼠标点击时 */

h3
{
color: black;
text-align: left;
}

h3{
  background-color: #229999;
  opacity: 0.8;
}
