body
{
background-color: rgb(100, 200, 200);
font-family: 宋体;
/*background-image: url("./image/sm.jpg");*/
margin-top: 50px;
margin-bottom: 50px;
margin-right: 100px;
margin-left: 100px;
}

a:link {color:#000000;}      /* 未访问链接*/
a:visited {color:#0000AA;}  /* 已访问链接 */
a:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
a:active {color:#0000FF;}  /* 鼠标点击时 */

a
{
margin-right: 10px;
}

h3{
  background-color: #229999;
  opacity: 0.8;
}
