<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <title>小熊工作域</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0 maximum-scale=1.0">
    <link href="static/css/pcstyle.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="icon" type="image/x-ico" href="static/image/xiong.jpg"/>
</head>


<body>
<a id="top"></a>
<h1>财务工作</h1>
<div>
    <span><a href="#ybb">财务预算</a></span>
    <span><a href="#cwjs">财务决算</a></span>
    <span><a href="#zdh">自动化</a></span>
    <span><a href="#rjxz">软件下载</a></span>
    <span><a href="#cwpt">财务平台</a></span>
    <span><a href="#bottom">去底部</a></span>
</div>
<h3><a id="ybb">财务预算</a></h3>
<h4><a id='ysybb'>预报表：</a></h4>
<ol>
    <li>预报表内应上交国家利润，即国有资本收益=上年度净利润（正数）*（1-10%）*15%；</li>
    <li>2022年上交数按实际缴纳的2021年应交国有资本金收益数填列；</li>
    <li>2023年应上交数根据2022年实际净利润自行计算填报；（结转本年净利润后：未分配利润为正数的企业计算填报）</li>
    <li>隶属关系：410000河南省；</li>
    <li>行政标识：447国资委（监管企业）；（预算范围内均为省管国有企业）</li>
    <li>2022年预计数需要填报2022年实际数，不是2021年填报的预算数，不要直接复制；</li>
    <li>营业收入填报营业总收入即可；</li>
    <li>存在资产减值损失的单位注意：营业总成本预算表内不包含该项，决算和NC营业总成本均包含该项，两个数不一致；</li>
    <li>净利润数据需要自行填报。</li>
</ol>
<h4><a id='ysysb'>预算表：</a></h4>
<ol>
    <li>经济增加值上年数需自行计算平均数，平均资本成本率均填报4.8%；</li>
    <li>主要业务类型可从以下内容选择，不要为空：钢贸业务、日化业务、租赁业务、国际运输、其他业务；</li>
    <li>预算情况说明书所有企业均需填报（说明书内有两个模板，内容少的那个），经济运行分析由集团填报，其他附报文档不用管；</li>
    <li>现金流量表期末数需要自己算，算好之后填列至第二列期初数；</li>
    <li>注意表间勾稽关系和检查，全审通过不代表没有差错。</li>
    <li>注意：莫要卡最后时限；建议单位预报表和预算表同时报送~</li>
</ol>


<h3><a id="cwjs">财务决算</a></h3>
<h4><a>常用操作：</a></h4>
<ol>
    <li><a href="static/image/sjtq.png" target="_blank">提取上年数据(点击见图：行次务必服从默认)</a></li>
    <li><a href="static/image/zhsh.png" target="_blank">数据综合审核(点击见图)</a></li>
</ol>
<h4><a>决算封面：</a></h4>
<ol>
    <li>可以使用自动化工具,详见下文！</li>
    <li>企业信息按营业执照填列（不要后缀本部、合并等）</li>
    <li>行政隶属关系：410000河南省</li>
    <li>部门标识：447国资委（监管企业）</li>
    <li>执行准则情况：00企业会计准则</li>
    <li>经济类型和组织形式：<br>
        ——全民所有制+办事处：国有独资，国有独资公司，对应国家资本<br>
        ——其他：国有控股，有限责任/股份有限 ，对应国有法人资本（含全资、非全资）
    </li>
    <li>新准则执行：新准则2021年实施，已执行就选是（填报类型不同）</li>
    <li>是否纳入国有资本经营预算：全部填“否”</li>
    <li>文化企业：全部填“否”（无文化部出资）</li>
    <li>报表类型码：严格按照股权结构逐级合并，二级单位检查汇总无误后，统一上报</li>
</ol>
<h4><a>决算附件：</a></h4>
<ol>
    <li>会计报表附注；</li>
    <li>财务情况说明书；</li>
    <li>中介机构审计报告；</li>
    <li>财务情况说明书；</li>
    <li>审计情况说明书；</li>
    <li>注意：财务情况说明书由单位人员准备，其他资料由审计提供；决算同预算一样，不是全审通过便万事大吉！</li>
</ol>


<h3><a id="zdh">自动化工具</a></h3>
<ul>
    <li><a href="static/image/yszdh.gif"
           target="_blank">预算封面自动化(点击见图：即使已经填报封面也可以用于检查，填报错误事项部分会自动修正)</a></li>
    <li><a href="static/exe/yszdh.exe" target="_blank">预算封面自动化软件下载</a></li>
    <li>决算封面自动化(建议按照[提取上年数据]|[提取封面代码]的方式直接提取)</li>
    <li><a href="static/exe/qlhc.exe" target="_blank">NC缓存清理工具（处理搜索框点不开、无法登陆等问题）</a></li>
</ul>

<h3><a id="rjxz">软件下载</a></h3>
<ul>
    <li><a href="http://www.sasac.gov.cn/n2588045/n2588419/n2592485/c26595889/content.html"
           target="_blank">点击【跳转】：2023年度国资委预算报表管理软件及参数（最新）</a>
    <li><a href="http://www.sasac.gov.cn/n2588045/n2588419/n2592485/c21792516/content.html"
           target="_blank">点击【跳转】：2022年度国资委预算报表管理软件及参数（去年）</a>
</ul>

<div>
    <span><a href="http://125.46.28.50:91">外网NC</a></span>
    <span><a href="http://192.168.0.240:8088/">内网NC</a></span>
    <span><a href="http://125.46.28.50:9096/zjgl/login">外网拜特</a></span>
    <span><a href="http://192.168.0.213:9096/zjgl/login">内网拜特</a></span>
    <span><a href="https://www.kugou.com/" target="_blank">酷狗音乐</a></span>
    <span><a href="https://y.qq.com/" target="_blank">QQ音乐</a></span>
    <span><a href="#top" id='bottom'>去顶部</a></span>
</div>

</body>
<!--<a href="https://gitee.com/xiongyafei/dumogu/pages">更新部署</a>-->

</html>